/* /Pages/Index.razor.rz.scp.css */
main[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

h1[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

.text-highlight[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  color: #415a77; /*TBD*/
}

.intro-text[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 18rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.logos[b-t8ds9oklp0] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
}

.logos2[b-t8ds9oklp0] {
  margin-top: 2rem;
}

  .logo[b-t8ds9oklp0] {
    display: flex;
    align-items: center;
    width: 2rem;
  }

  .logo h3[b-t8ds9oklp0] {
    font-size: 12px;
  }

  .logo4 img[b-t8ds9oklp0] {
    width: 1.2rem;
  }

  .logo5 img[b-t8ds9oklp0] {
    width: 1.5rem;
  }

.logo6 img[b-t8ds9oklp0] {
  width: 1.5rem;
}

.projects-container[b-t8ds9oklp0] {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 800px;
  margin-top: 52rem;
  padding-top: 8rem;
  background-color: ghostwhite;
  padding-left: 17.3vw;
}

  .projects-container h1[b-t8ds9oklp0] {
    font-family: 'Kaushan Script', cursive;
  }

  .projects-container h2[b-t8ds9oklp0] {
    margin-bottom: 44rem;
    font-family: 'Roboto', sans-serif;
    width: 56vw;
    font-size: 2rem;
    font-weight: 300;
  }

.box2[b-t8ds9oklp0] {
  position: absolute;
  display: flex;
  background-color: rgb(15,15,15);
  top: 66rem;
  height: 800px;
  width: 65vw;
}

  .box2 h1[b-t8ds9oklp0] {
    margin-left: 42vw;
    margin-top: 2rem;
    color: ghostwhite;
    font-size: 3vw;
    font-style: oblique;
    width: 18vw;
  }

  .code-editor[b-t8ds9oklp0] {
    display: flex;
    flex-direction: row;
  }

    .code-editor h4[b-t8ds9oklp0] {
      font-size: 3vw;
      margin-top: 1.6rem;
      color: ghostwhite;
    }


.box3[b-t8ds9oklp0] {
  top: 140rem;
  position: absolute;
}

/*Sliding boxes*/
.bg[b-t8ds9oklp0] {
  animation: slide-b-t8ds9oklp0 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: -300px;
  left: -50%;
  opacity: .2;
  right: -50%;
  top: 0px;
  position: absolute;
}

.bg2[b-t8ds9oklp0] {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3[b-t8ds9oklp0] {
  animation-duration: 12s;
}

@keyframes slide-b-t8ds9oklp0 {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*Mobile*/
@media (max-width: 640.98px) {
  h1[b-t8ds9oklp0] {
    font-size: 1.5rem;
  }

.intro-text[b-t8ds9oklp0] {
  margin-top: 12rem;
  align-items: center;
}

  .intro-text h2[b-t8ds9oklp0] {
    margin-top: 2rem;
    font-size: 12px;
  }

.logos[b-t8ds9oklp0] {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.logo[b-t8ds9oklp0] {
  margin-top: 0.4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
}

  .logo h3[b-t8ds9oklp0] {
    font-size: 12px;
  }

  .projects-container[b-t8ds9oklp0] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36rem;
  }

    .projects-container h1[b-t8ds9oklp0] {
      margin-left: 0;
    }

  .box2[b-t8ds9oklp0] {
    top: 42rem;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  .intro-text[b-t8ds9oklp0] {
    align-items: center;
  }

  .intro-text h2[b-t8ds9oklp0] {
    padding-top: 4rem;
    font-size: 1.4rem;
  }

  .logos[b-t8ds9oklp0] {
    width: 15rem;
  }

  .logo[b-t8ds9oklp0] {
    flex-direction: column;
    width: 1.4rem;
  }
}

/*Computer*/
@media (min-width: 1200px) {
  .intro-text[b-t8ds9oklp0] {
    width: 30rem;
    text-align: left;
    margin-left: 55vw;
    align-items: flex-start;
  }

  .intro-text h2[b-t8ds9oklp0] {
    font-size: 1rem;
  }

  .logos[b-t8ds9oklp0] {
    width: 26rem;
  }

  .logo[b-t8ds9oklp0] {
    flex-direction: row;
  }

  .logo h3[b-t8ds9oklp0] {
    padding-left: 1rem;
  }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y5pde0k6jk] {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  z-index: 1;
}

.nav-bar[b-y5pde0k6jk] {
  position: fixed;
  background-color: ghostwhite;
  width: 100vw;
  overflow-x: hidden;
  z-index: 2;
}

.body[b-y5pde0k6jk] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

article[b-y5pde0k6jk] {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.site-brand[b-y5pde0k6jk] {
  font-family: 'Kaushan Script', cursive;
  margin: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-style: normal;
  text-decoration: none;
}

  .site-brand a:link[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:visited[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:hover[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:active[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

main[b-y5pde0k6jk] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Mobile*/
@media (max-width: 640.98px) {
  .site-brand[b-y5pde0k6jk] {
    display: none;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  .nav-bar[b-y5pde0k6jk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/*Computer*/
@media (min-width: 1400px) {
  .sidebar[b-y5pde0k6jk] {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.top-row[b-u603n3jyus] {
  height: 4rem;
  background-color: rgba(15,15,15);
  z-index: 2;
}

div[b-u603n3jyus] {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler[b-u603n3jyus] {
  border-color: rgb(240,240,240);
}

.custom-toggler .navbar-toggler-icon[b-u603n3jyus] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand[b-u603n3jyus] {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  flex-direction: row;
  color: ghostwhite;
}

.nav-item[b-u603n3jyus] {
  font-size: 1rem;
  padding: 4px;
  display: flex;
}

  .nav-item[b-u603n3jyus]  a {
    color: #b4b4b4;
    border-radius: 3px;
    height: 3rem;
    display: flex;
    align-items: center;
  }

    .nav-item[b-u603n3jyus]  a.active {
      color: rgb(15,15,15);
    }

    .nav-item[b-u603n3jyus]  a:hover {
      color: rgb(40,40,40);
    }

@media (min-width: 641px) {
  .top-row[b-u603n3jyus] {
    display: none;
  }

  .navbar-toggler[b-u603n3jyus] {
    display: none;
  }

  .nav-item[b-u603n3jyus]  a {
    background-color: rgba(15, 15, 15, 0);
  }

  .collapse[b-u603n3jyus] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
