/* _content/portfolio/Pages/Index.razor.rz.scp.css */
main[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

h1[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

.text-highlight[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  color: #8223b8; /*TBD*/
}

.intro-text[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  align-content: center;
  width: 70vw;
}

.box1[b-t8ds9oklp0] {
  background-color: rgb(15,15,15);
  width: 100vw;
  height: 80rem;
}

.box0[b-t8ds9oklp0] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(0,0,0, 0.02);
  border: 2px;
  border-radius: 38px;
  width: 70vw;
  height: 16rem;
  padding-top: 2rem;
}

  .box0 ul[b-t8ds9oklp0] {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    z-index: 3;
  }

      .box0 ul :last-child[b-t8ds9oklp0] {
        padding-right: 4vw;
        z-index: 3;
      }

  .box0 li[b-t8ds9oklp0] {
    width: 11vw;
    font-size: 1.4rem;
    text-align: center;
    z-index: 3;
  }

/*Mobile*/
@media (max-width: 640.98px) {
  h1[b-t8ds9oklp0] {
    font-size: 1.8rem;
  }

   .box0[b-t8ds9oklp0] {
      width: 89vw;
   }

  .box0 li[b-t8ds9oklp0] {
    font-size: 0.8rem;
    width: 14vw;
  }

  .intro-text[b-t8ds9oklp0] {
    padding-bottom: 6rem;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  h1[b-t8ds9oklp0] {
    font-size: 2rem;
  }

  .box0[b-t8ds9oklp0] {
    width: 91vw;
  }

  .box0 li[b-t8ds9oklp0] {
    width: 14vw;
    font-size: 1.2rem;
  }
}

/*Computer*/
@media (min-width: 1400px) {
  h1[b-t8ds9oklp0] {
    font-size: 2.4rem;
  }

  .box0 li[b-t8ds9oklp0] {
    font-size: 1.8rem;
  }

  .intro-text[b-t8ds9oklp0] {
    width: 50vw;
  }
}

/* _content/portfolio/Shared/MainLayout.razor.rz.scp.css */
.page[b-y5pde0k6jk] {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  height: 100vh;
}

.nav-bar[b-y5pde0k6jk] {
  background-color: ghostwhite;
}

.site-brand[b-y5pde0k6jk] {
  font-family: 'Kaushan Script', cursive;
  margin: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-style: normal;
  text-decoration: none;
}

  .site-brand a:link[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:visited[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:hover[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:active[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

main[b-y5pde0k6jk] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Mobile*/
@media (max-width: 640.98px) {
  .site-brand[b-y5pde0k6jk] {
    display: none;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  .nav-bar[b-y5pde0k6jk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/*Computer*/
@media (min-width: 1400px) {
  .sidebar[b-y5pde0k6jk] {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* _content/portfolio/Shared/NavMenu.razor.rz.scp.css */
div[b-u603n3jyus] {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler[b-u603n3jyus] {
  border-color: rgb(240,240,240);
}

.custom-toggler .navbar-toggler-icon[b-u603n3jyus] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.top-row[b-u603n3jyus] {
  height: 4rem;
  background-color: rgba(15,15,15);
}

.navbar-brand[b-u603n3jyus] {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  flex-direction: row;
  color: ghostwhite;
}

.nav-item[b-u603n3jyus] {
  font-size: 1rem;
  padding: 4px;
  display: flex;
}

  .nav-item[b-u603n3jyus]  a {
    color: #b4b4b4;
    border-radius: 3px;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.05);
  }

    .nav-item[b-u603n3jyus]  a.active {
      color: rgb(15,15,15);
    }

    .nav-item[b-u603n3jyus]  a:hover {
      color: rgb(40,40,40);
    }

@media (min-width: 641px) {
  .top-row[b-u603n3jyus] {
    display: none;
  }

  .navbar-toggler[b-u603n3jyus] {
    display: none;
  }

  .nav-item[b-u603n3jyus]  a{
    background-color: rgba(15, 15, 15, 0);
  }

  .collapse[b-u603n3jyus] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
