/* /Pages/Contact.razor.rz.scp.css */
main[b-raa5ny75j4] {
		padding-top: 6rem;
}
/* /Pages/FetchData.razor.rz.scp.css */
main[b-0mpc69d8c3] {
		padding-top: 6rem;
}
/* /Pages/Index.razor.rz.scp.css */
main[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

h1[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

.text-highlight[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  color: #415a77; /*TBD*/
}

.intro-text[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}

  .intro-text h1[b-t8ds9oklp0] {
    font-size: 3.5vw;
    width: 60vw;
  }

  .intro-text h2[b-t8ds9oklp0] {
    padding-top: 6rem;
    font-size: 1rem;
  }

.logos[b-t8ds9oklp0] {
  width: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logos2[b-t8ds9oklp0] {
  margin-top: 3rem;
}

.logo[b-t8ds9oklp0] {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2rem;
}

  .logo img[b-t8ds9oklp0] {
    width: 2rem;
  }

  .logo h3[b-t8ds9oklp0] {
    font-size: 16px;
    padding-left: 1rem;
  }

.projects-container[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  padding-top: 6rem;
  background-color: ghostwhite;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100vh;
}

  .projects-container h2[b-t8ds9oklp0] {
    font-size: 10rem;
    margin-bottom: -6vh;
    margin-top: 6vh;
  }

.page-height[b-t8ds9oklp0] {
  position: relative;
  height: auto;
  width: 100vw;
  min-height: 68rem;
  max-height: 90rem;
}

.project-container[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  background-color: rgb(15,15,15);
  position: absolute;
  top: 13%;
  bottom: 25%;
  left: 20%;
  right: 12%;
  padding: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 2rem;
  border-color: rgb(15,15,15);
}

  .project-container .buttons[b-t8ds9oklp0] {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

  .project-container button[b-t8ds9oklp0] {
    width: 14vw;
    height: 4rem;
    background-color: transparent;
    color: ghostwhite;
    border-style: solid;
    border: solid;
    border-color: ghostwhite;
  }

  .project-container p[b-t8ds9oklp0] {
    width: 90%;
    font-size: clamp(0.1rem, 1.5vw, 1.4rem);
    color: ghostwhite;
    padding-top: 3rem;
  }

.projects-container h2[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  font-size: 5rem;
}

.project-container .title[b-t8ds9oklp0] {
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.project-container h3[b-t8ds9oklp0] {
  font-size: 3rem;
  margin-right: 4rem;
}

.project-container ul[b-t8ds9oklp0], li[b-t8ds9oklp0] {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  padding: 0px;
  margin-bottom: 0px;
  color: dimgrey;
}


#code-editor[b-t8ds9oklp0] {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

#video-game[b-t8ds9oklp0] {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

.about-container[b-t8ds9oklp0] {
  color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15,15,15);
  height: auto;
  width: 100vw;
  margin-top: 20vh;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6vw;
  color: ghostwhite;
}

  .about-container .title[b-t8ds9oklp0] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 6rem;
  }

.title h2[b-t8ds9oklp0] {
  font-size: clamp(3.5rem, 4vw, 5rem);
  margin-top: 0;
}

.title img[b-t8ds9oklp0] {
  width: 16vw;
  height: auto;
  max-width: 100rem;
  min-width: 15rem;
  border-radius: 20rem;
  padding-bottom: 1rem;
}

.introduction[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

  .introduction p[b-t8ds9oklp0] {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
  }

.contact-container .title[b-t8ds9oklp0] {
  margin-top: 7rem;
}
/*Sliding boxes*/
.bg[b-t8ds9oklp0] {
  animation: slide-b-t8ds9oklp0 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: -300px;
  left: -50%;
  opacity: .13;
  right: -50%;
  top: 0px;
  position: absolute;
}

.bg2[b-t8ds9oklp0] {
  animation-direction: alternate-reverse;
  animation-duration: 22s;
}

.bg3[b-t8ds9oklp0] {
  animation-duration: 16s;
}

@keyframes slide-b-t8ds9oklp0 {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*4k*/
@media (max-width: 3840px) {
  .page-height[b-t8ds9oklp0] {
    height: 110vh;
  }
}

/*Computer*/
@media (max-width: 1920px) {
  .page-height[b-t8ds9oklp0] {
    height: 100vh;
  }

  #code-editor[b-t8ds9oklp0] {
    top: 40%;
  }

  #video-game[b-t8ds9oklp0] {
    top: 40%;
  }
}

/*Small Computer*/
@media (max-width: 1700px) {
  .project-container[b-t8ds9oklp0] {
    top: 10%;
    bottom: 60%;
    right: 10%;
    left: 10%;
    height: clamp(38rem, 75vw, 46rem);
  }

    .project-container .buttons[b-t8ds9oklp0] {
      margin-top: 2rem;
      margin-bottom: 4rem;
      flex-direction: row;
    }

  #code-editor[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }

  #video-game[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }
}


/*Tablet*/
@media (max-width: 1200px) {
  .intro-text[b-t8ds9oklp0] {
    align-items: center;
    text-align: center;
  }

    .intro-text h1[b-t8ds9oklp0] {
      width: 100%;
      font-size: 2.8rem;
    }

    .intro-text h2[b-t8ds9oklp0] {
      font-size: 1.4rem;
    }

  .logos[b-t8ds9oklp0] {
    width: 50vw;
  }

  .logo[b-t8ds9oklp0] {
    display: flex;
    flex-direction: column;
    width: 1.4rem;
  }

    .logo h3[b-t8ds9oklp0] {
      padding-left: 0px;
    }

  .page-height[b-t8ds9oklp0] {
    min-height: 80rem;
    margin-bottom: -10vw;
  }

  .project-container p[b-t8ds9oklp0] {
    font-size: clamp(1rem, 1.8vw, 1.8vw);
  }

  .about-container[b-t8ds9oklp0] {
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
  }

    .about-container .grid[b-t8ds9oklp0] {
      height: 80vh;
    }
}

/*Shrink projects container*/
@media (max-width: 1000px) {
  .page-height[b-t8ds9oklp0] {
    margin-bottom: -20vw;
  }

  .project-container .title[b-t8ds9oklp0] {
    flex-direction: column;
  }
}

/*Mobile*/
@media (max-width: 640px) {
  .intro-text[b-t8ds9oklp0] {
    align-items: center;
  }

    .intro-text h1[b-t8ds9oklp0] {
      width: 85vw;
      font-size: 1.6rem;
      margin-top: 3.4rem;
    }

    .intro-text h2[b-t8ds9oklp0] {
      font-size: 1.2rem;
    }

  .logos[b-t8ds9oklp0] {
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }

  .logo[b-t8ds9oklp0] {
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    flex-direction: column;
    width: 1.5rem;
  }

    .logo img[b-t8ds9oklp0] {
      width: 1.3rem;
    }

    .logo h3[b-t8ds9oklp0] {
      font-size: 0.8rem;
      padding-left: 0;
    }

  .page-height[b-t8ds9oklp0] {
    height: 100vh;
    min-height: 50rem;
    max-height: 45rem;
    display: flex;
    margin-bottom: 0rem;
  }

  .projects-container[b-t8ds9oklp0] {
    padding-top: 5rem;
  }

    .projects-container h2[b-t8ds9oklp0] {
      margin-left: -2vw;
      margin-top: 0rem;
      padding-bottom: 6rem;
      font-size: 4rem;
    }

  .project-container[b-t8ds9oklp0] {
    height: clamp(10rem, 80vh, 35rem);
    padding-left: 8vw;
  }

  .project-container .title[b-t8ds9oklp0] {
    flex-direction: column;
  }

    .project-container .title ul[b-t8ds9oklp0] {
      gap: 1.2rem;
      font-size: 0.8rem;
    }

    .project-container .title h3[b-t8ds9oklp0] {
      font-size: 2rem;
    }

  .project-container p[b-t8ds9oklp0] {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .project-container .buttons[b-t8ds9oklp0] {
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .project-container button[b-t8ds9oklp0] {
    width: 8rem;
    font-size: 0.9rem;
  }

  #code-editor[b-t8ds9oklp0] {
    position: relative;
    top: 0rem;
    left: -8vw;
    width: 80vw;
  }

  #video-game[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: -8vw;
    width: 80vw;
  }

  .about-container[b-t8ds9oklp0] {
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
    margin-top: 5rem;
    padding-bottom: 5vh;
  }

  .about-container[b-t8ds9oklp0] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .about-container .title[b-t8ds9oklp0] {
      align-items: center;
      margin-bottom: 2.8rem;
      gap: 3rem;
    }

      .about-container .title h2[b-t8ds9oklp0] {
        font-size: 3.5rem;
      }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y5pde0k6jk] {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  z-index: 1;
}

.nav-bar[b-y5pde0k6jk] {
  position: fixed;
  background-color: ghostwhite;
  width: 100vw;
  height: 3.5rem;
  z-index: 1;
  overflow: hidden;
}

.body[b-y5pde0k6jk] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

article[b-y5pde0k6jk] {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.site-brand[b-y5pde0k6jk] {
  font-family: 'Kaushan Script', cursive;
  margin: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-style: normal;
  font-size: 1rem;
  background-color: ghostwhite;
}

  .site-brand a[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

main[b-y5pde0k6jk] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Mobile*/
@media (max-width: 640.98px) {
  .site-brand[b-y5pde0k6jk] {
    display: none;
  }

  .nav-bar[b-y5pde0k6jk] {
    margin-right: 0px;
    overflow: hidden;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  .nav-bar[b-y5pde0k6jk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    overflow: hidden;
  }

  .nav-item[b-y5pde0k6jk] {
    background-color: ghostwhite;
  }
}

/*Computer*/
@media (min-width: 1400px) {
  .sidebar[b-y5pde0k6jk] {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .nav-bar[b-y5pde0k6jk] {
    margin-right: 17px;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }

  .nav-item[b-y5pde0k6jk] {
    background-color: ghostwhite;
  }
}
/* /Shared/NavMenu.razor.rz.scp.css */


.top-row[b-u603n3jyus] {
  height: 4rem;
  background-color: rgba(15,15,15);
  z-index: 1;
  padding-top: 0rem;
}

div[b-u603n3jyus] {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler[b-u603n3jyus] {
  border-color: rgb(240,240,240);
}

.custom-toggler .navbar-toggler-icon[b-u603n3jyus] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand[b-u603n3jyus] {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  flex-direction: row;
  color: ghostwhite;
}

.d-flex[b-u603n3jyus] {
  background-color: ghostwhite;
}

.nav-item[b-u603n3jyus] {
  font-size: 1rem;
  padding: 4px;
  display: flex;
  background-color: ghostwhite;
}

  .nav-item[b-u603n3jyus]  a {
    color: #b4b4b4;
    border-radius: 3px;
    height: 3rem;
    display: flex;
    align-items: center;
  }

      .nav-item[b-u603n3jyus]  a.active {
        color: rgb(15,15,15);
      }

    .nav-item[b-u603n3jyus]  a:hover {
      color: rgb(40,40,40);
    }

@media (min-width: 641px) {
  .top-row[b-u603n3jyus] {
    display: none;
  }

  .navbar-toggler[b-u603n3jyus] {
    display: none;
  }

  .collapse[b-u603n3jyus] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
