@import './reset.scss';

@font-face {
    font-display: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./../fonts/roboto-500-latin.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./../fonts/roboto-900-i-latin.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/poppins-700-latin.woff2') format('woff2');
}

:root {
    --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-family-main: 'Roboto', var(--font-system);
    --font-family-secondary: 'Poppins', var(--font-system);
}

html {
    scrollbar-width: thin;
}

body {
    background-color: var(--background);
    text-rendering: optimizeLegibility;
}

section.component {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 1rem;

    .container {
        position: relative;
        max-width: calc(1000px - 1rem);
        width: 100%;
    }
}