.page[b-y5pde0k6jk] {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  z-index: 1;
}

.nav-bar[b-y5pde0k6jk] {
  position: fixed;
  background-color: ghostwhite;
  width: 100vw;
  height: 3.5rem;
  margin-right: 17px;
  z-index: 1;
}

.body[b-y5pde0k6jk] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

article[b-y5pde0k6jk] {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

.site-brand[b-y5pde0k6jk] {
  font-family: 'Kaushan Script', cursive;
  margin: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  font-style: normal;
  text-decoration: none;
}

  .site-brand a:link[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:visited[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:hover[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

  .site-brand a:active[b-y5pde0k6jk] {
    color: rgb(15,15,15);
    text-decoration: none;
  }

main[b-y5pde0k6jk] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Mobile*/
@media (max-width: 640.98px) {
  .site-brand[b-y5pde0k6jk] {
    display: none;
  }

  .nav-bar[b-y5pde0k6jk] {
    margin-right: 0px;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  .nav-bar[b-y5pde0k6jk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
}

/*Computer*/
@media (min-width: 1400px) {
  .sidebar[b-y5pde0k6jk] {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}