/* Dark Scheme */
:root {
    --foreground-dark: #fafafa;
    --foreground-dark-translucent: #fafafa9c;
    --foreground-hover-dark: #c5c5c5;
    --foreground-active-dark: #959595;

    --background-darker-dark: #151518;
    --background-dark: #1c1c20;
    --background-dark-translucent: #1b1b1fe1;
    --background-hover-dark: #2a2a2e;
    --background-active-dark: #37373b;
    --background-active-secondary-dark: #424246;
    
    --text-foreground-dark: #fafafa;
    --text-foreground-secondary-dark: #9ca3af;
    --text-background-dark: #1c1c20;

    --disabled-foreground-dark: #969696a5;
    --disabled-foreground-hover-dark: #d2d2d22a;
    --disabled-foreground-text-dark: #5f5f5f;
    --disabled-background-dark: #7070709c;

    --menu-mobile-background-dark: #29292dd9;

    --accent-main-dark: #ffe203;
    --accent-secondary-dark: #fbb346;
    --accent-accessible-dark: #fbb346;

    --border-color-dark: #3a3a3a;
    --border-color-hover-dark: #5f5f5f;
}

/* Light Scheme */
:root {
    --foreground-light: #1c1c20;
    --foreground-light-translucent: #1c1c20de;
    --foreground-hover-light: #242427;
    --foreground-active-light: #2c2c2f;

    --background-darker-light: #e9e9e9;
    --background-light: #fafafa;
    --background-light-translucent: #fafafad7;
    --background-hover-light: #e9e9e9;
    --background-active-light: #c6c6c6;
    --background-active-secondary-light: #aeaeae;
    
    --text-foreground-light: #1c1c20;
    --text-foreground-secondary-light: #1e1e21;
    --text-background-light: #fafafa;
    
    --disabled-foreground-light: #747474;
    --disabled-foreground-hover-light: #dadada;
    --disabled-foreground-text-light: #9d9d9d;
    --disabled-background-light: #b5b5b5;

    --menu-mobile-background-light: #c9c9c9cc;

    --accent-main-light: #ffd000;
    --accent-secondary-light: #ff9d1e;
    --accent-accessible-light: #A85F00;

    --border-color-light: #adadad;
    --border-color-hover-light: #484848;
    
    --background-darker: var(--background-darker-light);
    --background-active-secondary: var(--background-active-secondary-light);
    --background-translucent: var(--background-light-translucent);
    --menu-mobile-background: var(--menu-mobile-background-light);

    --accent-main: var(--accent-main-light);
    --accent-secondary: var(--accent-secondary-light);
    --accent-accessible: var(--accent-accessible-light);

    --text-foreground-secondary: var(--text-foreground-secondary-light);

    --border-color: var(--border-color-light);
    --border-color-hover: var(--border-color-hover-light);
}

/* Common */
:root {
    /* --font-family-main: 'Arial', sans-serif; */
    
    --border-radius-4: 4px;
    --border-radius-6: 6px;
    --border-radius-8: 8px;
    --border-radius-16: 16px;
    --border-radius-full: 50%;

    --button-border-width: 1px;

    --font-size-tiny: 0.8rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.15rem;

    --padding-2: 0.125rem;
    --padding-4: 0.25rem;
    --padding-6: 0.375rem;
    --padding-8: 0.5rem;
    --padding-10: 0.625rem;
    --padding-12: 0.75rem;
    --padding-16: 1rem;
    --padding-20: 1.25rem;
    --padding-24: 1.5rem;
    --padding-32: 2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-darker: var(--background-darker-dark);
        --background-active-secondary: var(--background-active-secondary-dark);
        --background-translucent: var(--background-dark-translucent);
        --menu-mobile-background: var(--menu-mobile-background-dark);

        --accent-main: var(--accent-main-dark);
        --accent-secondary: var(--accent-secondary-dark);
        --accent-accessible: var(--accent-accessible-dark);

        --text-foreground-secondary: var(--text-foreground-secondary-dark);

        --border-color: var(--border-color-dark);
        --border-color-hover: var(--border-color-hover-dark);
    }
}

:root[data-color-scheme="dark"] {
    --background-darker: var(--background-darker-dark);
    --background-active-secondary: var(--background-active-secondary-dark);
    --background-translucent: var(--background-dark-translucent);
    --menu-mobile-background: var(--menu-mobile-background-dark);

    --accent-main: var(--accent-main-dark);
    --accent-secondary: var(--accent-secondary-dark);
    --accent-accessible: var(--accent-accessible-dark);

    --text-foreground-secondary: var(--text-foreground-secondary-dark);

    --border-color: var(--border-color-dark);
    --border-color-hover: var(--border-color-hover-dark);
}

body {
    font-family: var(--font-family-main, sans-serif);
    color: var(--text-foreground);
    background-color: var(--background);
}

svg {
    fill: currentColor;
}