main[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

h1[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

.text-highlight[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  color: #8223b8; /*TBD*/
}

.intro-text[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 18rem;
  position: absolute;
  display: flex;
  width: 70vw;
}

.box1[b-t8ds9oklp0] {
  position: absolute;
  margin-top: 53rem;
  display: flex;
  justify-content: center;
  background-color: rgb(15,15,15);
  font-family: 'Kaushan Script', cursive;
  width: 100vw;
  height: 800px;
  padding-top: 4rem;
}

  .box1 h1[b-t8ds9oklp0] {
    color: ghostwhite;
    font-size: 3rem;
    margin-left: -60vw;
  }

.box2[b-t8ds9oklp0] {
  position: absolute;
  top: 95rem;
  display: flex;
  margin-top: 6rem;
  height: 80px;
}
  
  .box2 h1[b-t8ds9oklp0] {
    background-color: ghostwhite;
    width: 80vw;
  }

/*Sliding boxes*/
.bg[b-t8ds9oklp0] {
  animation: slide-b-t8ds9oklp0 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: .2;
  right: -50%;
  top: 0;
  position: absolute;
}

.bg2[b-t8ds9oklp0] {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3[b-t8ds9oklp0] {
  animation-duration: 12s;
}

@keyframes slide-b-t8ds9oklp0 {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*Mobile*/
@media (max-width: 640.98px) {
  h1[b-t8ds9oklp0] {
    font-size: 1.5rem;
  }

  .intro-text[b-t8ds9oklp0] {
    width: 80vw;
    text-align: left;
    padding-bottom: 5rem;
  }

  .box1[b-t8ds9oklp0] {
    margin-top:44rem;
  }

  .box1 h1[b-t8ds9oklp0] {
    color: ghostwhite;
    font-size: 2.5rem;
    margin-left: -50vw;
    margin-top: -5vw;
  }
}

/*Tablet*/
@media (min-width: 641px) {
  h1[b-t8ds9oklp0] {
    font-size: 2rem;
  }
}

/*Computer*/
@media (min-width: 1200px) {
  h1[b-t8ds9oklp0] {
    font-size: 2.4rem;
  }

  .intro-text[b-t8ds9oklp0] {
    width: 30rem;
    text-align: left;
    margin-left: 55vw;
  }
}