main[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

h1[b-t8ds9oklp0] {
  color: rgb(15,15,15);
}

.text-highlight[b-t8ds9oklp0] {
  font-family: 'Kaushan Script', cursive;
  color: #415a77; /*TBD*/
}

.intro-text[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}
  
  .intro-text h1[b-t8ds9oklp0] {
    font-size: 3.5vw;
    width: 60vw;
  }

  .intro-text h2[b-t8ds9oklp0] {
    padding-top: 6rem;
    font-size: 1rem;
  }

.logos[b-t8ds9oklp0] {
  width: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logos2[b-t8ds9oklp0] {
  margin-top: 3rem;
}

.logo[b-t8ds9oklp0] {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2rem;
}

  .logo img[b-t8ds9oklp0] {
    width: 2rem;
  }

  .logo h3[b-t8ds9oklp0] {
    font-size: 16px;
    padding-left: 1rem;
  }

.projects-container[b-t8ds9oklp0] {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 100vh;
  padding-top: 6rem;
  background-color: ghostwhite;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .projects-container h2[b-t8ds9oklp0] {
    font-size: 10rem;
    margin-bottom: 6vh;
    margin-top: 6vh;
  }

.page-height[b-t8ds9oklp0] {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 80rem;
  max-height: 45rem;
}

  .container-one[b-t8ds9oklp0] {
    margin-bottom: 0;
  }

  .container-two[b-t8ds9oklp0] {
    margin-bottom: 0;
  }

.project-container[b-t8ds9oklp0] {
  display: flex;
  flex-direction: column;
  background-color: rgb(15,15,15);
  position: absolute;
  top: 13%;
  bottom: 25%;
  left: 20%;
  right: 12%;
  width: auto;
  height: 35vw;
  padding: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 2rem
}

  .project-container .buttons[b-t8ds9oklp0] {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

    .project-container button[b-t8ds9oklp0] {
        width: 14vw;
        height: 3rem;

        background-color: transparent;
        color: ghostwhite;
        border-style: solid;
        border: solid;
        border-color: ghostwhite;
    }

    .project-container p[b-t8ds9oklp0] {
        width: 90%;
        font-size: clamp(1.5vw, 1.5vw, 2vw);
        color: ghostwhite;
        padding-top: 3rem;
    }

    .projects-container h2[b-t8ds9oklp0] {
      font-family: 'Kaushan Script', cursive;
      font-size: 5rem;
    }

    .project-container .title[b-t8ds9oklp0] {
      color: ghostwhite;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    .project-container h3[b-t8ds9oklp0] {
      font-size: 3rem;
      margin-right: 4rem;
    }

      .project-container ul[b-t8ds9oklp0], li[b-t8ds9oklp0] {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 4rem;
        padding: 0px;
        margin-bottom: 0px;
        color: dimgrey;
      }


#code-editor[b-t8ds9oklp0] {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

#video-game[b-t8ds9oklp0] {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

.about-container[b-t8ds9oklp0] {
  background-color: rgb(15,15,15);
  height: 100vh;
  width: 100vw;
  margin-top: 20vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10vw;
  color: ghostwhite;
}

  .about-container .grid[b-t8ds9oklp0] {
    width: 40vw;
    padding-top: 2vh;
  }

    .grid h2[b-t8ds9oklp0] {
      font-size: clamp(1rem, 6vw, 4rem);
    }

/*Sliding boxes*/
.bg[b-t8ds9oklp0] {
  animation: slide-b-t8ds9oklp0 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: -300px;
  left: -50%;
  opacity: .13;
  right: -50%;
  top: 0px;
  position: absolute;
}

.bg2[b-t8ds9oklp0] {
  animation-direction: alternate-reverse;
  animation-duration: 22s;
}

.bg3[b-t8ds9oklp0] {
  animation-duration: 16s;
}

@keyframes slide-b-t8ds9oklp0 {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*Computer*/
@media (max-width: 1920px) {
  #code-editor[b-t8ds9oklp0] {
    top: 18vw;
  }

  #video-game[b-t8ds9oklp0] {
    top: 18vw;
  }
}

/*Small Computer*/
@media (max-width: 1700px) {
  .page-height[b-t8ds9oklp0] {
    height: 90vh;
  }

  .project-container[b-t8ds9oklp0] {
    top: 10%;
    bottom: 60%;
    right: 10%;
    left: 10%;
    border: solid;
    height: clamp(38rem, 75vw, 46rem);
  }

  .project-container .buttons[b-t8ds9oklp0] {
    margin-top: 2rem;
    margin-bottom: 4rem;
    flex-direction: row;
  }

  #code-editor[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }

  #video-game[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }
}


/*Tablet*/
@media (max-width: 1200px) {
  .intro-text[b-t8ds9oklp0] {
    align-items: center;
    text-align: center;
  }

    .intro-text h1[b-t8ds9oklp0] {
      width: 100%;
      font-size: 2.8rem;
    }

    .intro-text h2[b-t8ds9oklp0] {
      font-size: 1.4rem;
    }

  .logos[b-t8ds9oklp0] {
    width: 50vw;
  }

  .logo[b-t8ds9oklp0] {
    flex-direction: column;
    width: 1.4rem;
  }

  .page-height[b-t8ds9oklp0] {
    min-height: 70rem;
    margin-bottom: -20vw;
  }
}

/*Mobile*/
@media (max-width: 640px) {
  .intro-text[b-t8ds9oklp0] {
    align-items: center;
  }

    .intro-text h1[b-t8ds9oklp0] {
      width: 85vw;
      font-size: 1.9rem;
      margin-top: 3rem;
    }

    .intro-text h2[b-t8ds9oklp0] {
      font-size: 1.4rem;
    }

  .logos[b-t8ds9oklp0] {
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }

  .logo[b-t8ds9oklp0] {
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
  }

    .logo h3[b-t8ds9oklp0] {
      font-size: 12px;
      padding-left: 0;
    }

  .page-height[b-t8ds9oklp0] {
    height: 100vh;
    min-height: 50rem;
    max-height: 45rem;
    display: flex;
    margin-bottom: 0;
  }

  .projects-container h2[b-t8ds9oklp0] {
    margin-left: -2vw;
  }

  .project-container[b-t8ds9oklp0] {
    height: clamp(30rem, 80vh, 40rem);
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .project-container .title[b-t8ds9oklp0] {
    flex-direction: column;
  }

    .project-container .title ul[b-t8ds9oklp0] {
      gap: 1.2rem;
      font-size: 0.8rem;
    }

  .project-container .title h3[b-t8ds9oklp0] {
    font-size: 2rem;
  }

  .project-container p[b-t8ds9oklp0] {
    font-size: 1rem;
  }

  .project-container .buttons[b-t8ds9oklp0] {
    justify-content: space-evenly;
    gap: 1rem;
  }

  .project-container button[b-t8ds9oklp0] {
    width: 6rem;
  }

  #code-editor[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: -8.9vw;
    width: 80.5vw;
  }

  #video-game[b-t8ds9oklp0] {
    position: relative;
    top: 0%;
    left: -8.9vw;
    width: 80.5vw;
  }

  .about-container[b-t8ds9oklp0] {
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
  }

  .grid[b-t8ds9oklp0] {
    height: 85vh;
  }

  .grid h2[b-t8ds9oklp0] {
    font-size: clamp(1rem, 10vw, 9rem);
    margin-top: 0;
  }
}