main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: rgb(15,15,15);
}

h1 {
  color: rgb(15,15,15);
}

.text-highlight {
  font-family: 'Kaushan Script', cursive;
  color: #415a77; /*TBD*/
}

.intro-text {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}
  
  .intro-text h1 {
    font-size: 3.5vw;
    width: 60vw;
  }

  .intro-text h2 {
    padding-top: 6rem;
    font-size: 1rem;
  }

.logos {
  width: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logos2 {
  margin-top: 3rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2rem;
}

  .logo img {
    width: 2rem;
  }

  .logo h3 {
    font-size: 16px;
    padding-left: 1rem;
  }

.projects-container {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 100vh;
  padding-top: 6rem;
  background-color: ghostwhite;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .projects-container h2 {
    font-size: 10rem;
    margin-bottom: -6vh;
    margin-top: 6vh;
  }

.page-height {
  position: relative;
  height: auto;
  width: 100vw;
  min-height: 68rem;
  max-height: 80rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(15,15,15);
  position: absolute;
  top: 13%;
  bottom: 25%;
  left: 20%;
  right: 12%;
  padding: 2rem;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 2rem
}

  .project-container .buttons {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }

    .project-container button {
        width: 14vw;
        height: 4rem;
        background-color: transparent;
        color: ghostwhite;
        border-style: solid;
        border: solid;
        border-color: ghostwhite;
    }

    .project-container p {
        width: 90%;
        font-size: clamp(0.1rem, 1.5vw, 1.4rem);
        color: ghostwhite;
        padding-top: 3rem;
    }

    .projects-container h2 {
      font-family: 'Kaushan Script', cursive;
      font-size: 5rem;
    }

    .project-container .title {
      color: ghostwhite;
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    .project-container h3 {
      font-size: 3rem;
      margin-right: 4rem;
    }

      .project-container ul, li {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 4rem;
        padding: 0px;
        margin-bottom: 0px;
        color: dimgrey;
      }


#code-editor {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

#video-game {
  position: absolute;
  top: 15vw;
  left: -12%;
  width: 55vw;
  height: auto;
  background-color: ghostwhite;
  border-radius: 2rem
}

.about-container {
  color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(15,15,15);
  height: auto;
  width: 100vw;
  margin-top: 20vh;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6vw;
  color: ghostwhite;
}

  .about-container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .title h2 {
    font-size: clamp(5rem, 4vw, 5rem);
    margin-top: 0;
  }

    .title img {
      width: 16vw;
      height: auto;
      max-width: 100rem;
      min-width: 15rem;
      border-radius: 20rem;
      padding-bottom: 1rem;
    }

.introduction {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

  .introduction p {
    font-size: clamp(0.8rem, 4vw, 1.7rem);
  }

  .contact-container .title {
    margin-top: 7rem;
  }
/*Sliding boxes*/
.bg {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: -300px;
  left: -50%;
  opacity: .13;
  right: -50%;
  top: 0px;
  position: absolute;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 22s;
}

.bg3 {
  animation-duration: 16s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*4k*/
@media (max-width: 3840px) {
  
}

/*Computer*/
@media (max-width: 1920px) {
  #code-editor {
    top: 40%;
  }

  #video-game {
    top: 40%;
  }
}

/*Small Computer*/
@media (max-width: 1700px) {
  .project-container {
    top: 10%;
    bottom: 60%;
    right: 10%;
    left: 10%;
    border: solid;
    height: clamp(38rem, 75vw, 46rem);
  }

  .project-container .buttons {
    margin-top: 2rem;
    margin-bottom: 4rem;
    flex-direction: row;
  }

  #code-editor {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }

  #video-game {
    position: relative;
    top: 0%;
    left: 0;
    width: 100%;
  }
}


/*Tablet*/
@media (max-width: 1200px) {
  .intro-text {
    align-items: center;
    text-align: center;
  }

    .intro-text h1 {
      width: 100%;
      font-size: 2.8rem;
    }

    .intro-text h2 {
      font-size: 1.4rem;
    }

  .logos {
    width: 50vw;
  }

  .logo {
    flex-direction: column;
    width: 1.4rem;
  }

  .page-height {
    min-height: 70rem;
    margin-bottom: -10vw;
  }

  .project-container p {
    font-size: clamp(1rem, 1.8vw, 1.8vw);
  }

  .about-container {
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
  }

    .about-container .grid {
      height: 80vh;
    }
}

/*Shrink projects container*/
@media (max-width: 1000px) {
  .page-height {
    margin-bottom: -20vw;
  }

  .project-container .title {
    flex-direction: column;
  }
}

/*Mobile*/
@media (max-width: 640px) {
  .intro-text {
    align-items: center;
  }

    .intro-text h1 {
      width: 85vw;
      font-size: 1.9rem;
      margin-top: 3rem;
    }

    .intro-text h2 {
      font-size: 1.4rem;
    }

  .logos {
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
  }

    .logo h3 {
      font-size: 12px;
      padding-left: 0;
    }

  .page-height {
    height: 100vh;
    min-height: 50rem;
    max-height: 45rem;
    display: flex;
    margin-bottom: 0rem;
  }

  .projects-container {
    padding-top: 7rem;
  }

    .project-container {
      height: clamp(40rem, 80vh, 45rem);
      padding-left: 8vw;
      padding-right: 8vw;
    }

    .projects-container h2 {
      margin-left: -2vw;
      margin-top: 0rem;
      font-size: 4.5rem;
    }

    .project-container .title {
      flex-direction: column;
    }

      .project-container .title ul {
        gap: 1.2rem;
        font-size: 0.8rem;
      }

    .project-container .title h3 {
      font-size: 2rem;
    }

    .project-container p {
      font-size: 1rem;
    }

    .project-container .buttons {
      justify-content: space-evenly;
      gap: 1rem;
    }

    .project-container button {
      width: 8rem;
      font-size: 0.9rem;
    }

    #code-editor {
      position: relative;
      top: 0%;
      left: -8.9vw;
      width: 80.5vw;
    }

    #video-game {
      position: relative;
      top: 0%;
      left: -8.9vw;
      width: 80.5vw;
    }

  .about-container {
    flex-direction: column;
    height: auto;
    padding-top: 7rem;
    margin-top: 7rem;
    padding-bottom: 5vh;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .about-container .title {
      align-items: center;
      margin-bottom: 2.8rem;
    }
}