@page "/"

<PageTitle>Evan Kelly</PageTitle>

<main>
  <!--Sliding box background-->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="intro-text">
    <h1>Hi, I'm <span class="text-highlight">Evan</span>. I'm a software developer that creates responsive applications, like this website!</h1>
  </div>

  <div class="box box1">
    <h1>Projects</h1>
  </div>

  <div class="box box2">
    <h1>cool box 1</h1>
  </div>

  <div class="box box3">
    <h1>background box</h1>
  </div>
</main>