@page "/"

<PageTitle>Evan Kelly</PageTitle>

<main>
  <!--Sliding box background-->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="intro-text">
    <h1>Hi, I'm <span class="text-highlight">Evan</span>. I'm a software developer and I create responsive applications, like this website!</h1>
    <h2>Made With</h2>
    <div class="logos">
      <div class="logo logo1">
        <img src="/images/blazor.svg" />
        <h3>Blazor</h3>
      </div>
      <div class="logo logo2">
        <img src="/images/html5.svg" />
        <h3>HTML</h3>
      </div>
      <div class="logo logo3">
        <img src="/images/css3.svg" />
        <h3>CSS</h3>
      </div>
    </div>
    <div class="logos logos2">
      <div class="logo logo4">
        <img src="/images/webAssembly.svg" />
        <h3>WebAssembly</h3>
      </div>
      <div class="logo logo5">
        <img src="/images/c-sharp.png" />
        <h3>C#</h3>
      </div>
      <div class="logo logo6">
        <img src="/images/dotnet.png" />
        <h3>.Net6</h3>
      </div>
    </div>
  </div>

  <div class="projects-container">
    <h2>My Work</h2>

    <article class="project-container code-editor">
      <div class="title">
      <h3>Code Editor</h3>
        <ul>
          <li>WinForms</li>
          <li>C#</li>
          <li>.NET 4.8</li>
        </ul>
      </div>
      <p>A light-weight code editor built with WinForms and Visual Studio. Open folders, modify and save files and edit multiple documents concurrently.
        Other features include scrolling line-counts, context menus, and syntactical highlighting.</p>
    </article>

    <img id="code-editor"
       src="/images/projects/codeeditor.jpg"
       alt="WinForms based Code Editor" />

    <article class="project-container unity-game">
       <div class="title">
          <ul>
             <li>Unity Engine</li>
             <li>C#</li>
          </ul>
          <h3>Video Game</h3>
       </div>
       <p>
        A finished game experience. Inifnite procedural generation, chunk management, occlusion culling, 2D newtonian physics, 17 different types of stars, dozens of upgrades.
        Players can see how high of a score they can get and play in browser or download for multiple platforms.
       </p>
    </article>

    <img
      id="video-game"
      src="/images/projects/videogame.jpg"
      alt="WinForms based Code Editor"/>
  </div>
</main>