@page "/"

<PageTitle>Evan Kelly</PageTitle>

<main>
 <!--Sliding box background-->
 <div class="bg"></div>
 <div class="bg bg2"></div>
 <div class="bg bg3"></div>

 <div class="intro-text">
  <h1>Hi, I'm <span class="text-highlight">Evan</span>. I'm a software developer and I create responsive applications, like this website!</h1>
  <h2>Made With</h2>
  <div class="logos">
   <div class="logo logo1">
    <img src="/images/blazor.svg" />
    <h3>Blazor</h3>
   </div>
   <div class="logo logo2">
    <img src="/images/html5.svg" />
    <h3>HTML</h3>
   </div>
   <div class="logo logo3">
    <img src="/images/css3.svg" />
    <h3>CSS</h3>
   </div>
  </div>
  <div class="logos logos2">
   <div class="logo logo4">
    <img src="/images/webAssembly.svg" />
    <h3>WebAssembly</h3>
   </div>
   <div class="logo logo5">
    <img src="/images/c-sharp.png" />
    <h3>C#</h3>
   </div>
   <div class="logo logo6">
    <img src="/images/dotnet.png" />
    <h3>.Net6</h3>
   </div>
  </div>
 </div>

 <div class="projects-container">
  <h2>My Work</h2>

  <div class="page-height container-one">
   <article class="project-container code-editor">
    <div class="text">
     <div class="title">
      <h3>Code Editor</h3>
      <ul>
       <li>WinForms</li>
       <li>C#</li>
       <li>.NET 4.8</li>
      </ul>
     </div>
     <p>
      A light-weight code editor built with WinForms and Visual Studio. Open folders, modify and save files and edit multiple documents concurrently.
      Other features include scrolling line-counts, context menus, and syntactical highlighting.
     </p>
    </div>
    <div class="image-links">
     <div class="buttons">
      <button id="project1-source">Source</button>
      <button id="project1-more">More</button>
     </div>
     <img id="code-editor"
          src="/images/codeeditor.JPG"
          alt="WinForms based Code Editor" />
    </div>
   </article>
  </div>

  <div class="page-height container-two">
   <article class="project-container unity-game">
    <div class="title">
     <h3>2D Physics Game</h3>
     <ul>
      <li>Unity Engine</li>
      <li>C#</li>
     </ul>
    </div>
    <p>
     Infinite procedural generation, chunk management, occlusion culling, 2D newtonian physics, and a heavy emphasis on object-oriented design. Players try to travel the furthest and
     get the highest score.
    </p>
    <div class="image-links">
     <div class="buttons">
      <button id="project1-play">Play</button>
      <button id="project1-source">Source</button>
      <button id="project1-more">Learn More</button>
     </div>
     <img id="video-game" src="/images/videogame.JPG" alt="In-game screengrab orbiting a sun" />
    </div>
   </article>
  </div>

  <div class="page-height container-three">
   <article class="project-container unity-game">
    <div class="title">
     <h3>Client Website</h3>
     <ul>
      <li>Blazor</li>
      <li>C#/Javascript</li>
      <li>HTML/CSS</li>
     </ul>
    </div>
    <p>
     Infinite procedural generation, chunk management, occlusion culling, 2D newtonian physics, and a heavy emphasis on object-oriented design. Players try to travel to furthest and
     get the highest score.
    </p>
    <div class="image-links">
     <div class="buttons">
      <button id="project1-source">Source</button>
      <button id="project1-more">More</button>
     </div>
     <img id="video-game" src="/images/videogame.JPG" alt="In-Game screengrab" />
    </div>
   </article>
  </div>

  <div class="about-container">
   <div class="title">
    <h2>About Me</h2>
    <img id="pfp" src="/images/pfp.jpg" />
   </div>

   <div class="introduction">
    <p>
     I've spent my life obsessed with learning technology. I started teaching myself programming during highschool, in 2015. Learning both C# and Javascript, my passion was making small games.
     I would spend my free time doing graphics design videography work for clients, and it's during this time that I honed my visual design skills. Today, graphic design principals bleed their way into all my work.
    </p>
    <p>
     I have always gravitated towards C# for its strong-typing and cross-platform ecosystem. I develop a wide arrange of applcations, including: windows native apps with Winforms, cross-platform native and web with MAUI, web assembly and server side web apps with Blazor, and games with Unity3D.
    </p>
   </div>
  </div>

  <div class="contact-container">
   <div class="title">
    <h2>Contact Me</h2>
   </div>
  </div>

  <footer>
   <div class="links">
    <img src="~/images/github.svg" alt="Website source code" />
   </div>
  </footer>
 </div>
</main>