main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: rgb(15,15,15);
}

h1 {
  color: rgb(15,15,15);
}

.text-highlight {
  font-family: 'Kaushan Script', cursive;
  color: #415a77; /*TBD*/
}

.intro-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 16rem;
  margin-bottom: 18rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
}

.logos2 {
  margin-top: 2rem;
}

  .logo {
    display: flex;
    align-items: center;
    width: 2rem;
  }

  .logo h3 {
    font-size: 12px;
  }

  .logo4 img {
    width: 1.2rem;
  }

  .logo5 img {
    width: 1.5rem;
  }

.logo6 img {
  width: 1.5rem;
}

.projects-transition {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 800px;
  margin-top: 52rem;
  padding-top: 8rem;
  background-color: ghostwhite;
  padding-left: 17.3vw;
}

.projects-transition h1 {
  font-family: 'Kaushan Script', cursive;
}

.projects-transition h2 {
  margin-bottom: 44rem;
  font-family: 'Roboto', sans-serif;
  width: 56vw;
  font-size: 2rem;
  font-weight: 300;
}

.code-editor {
  padding-top: 2rem;
  position: absolute;
  display: flex;
  background-color: rgb(15,15,15);
  top: 66rem;
  height: 800px;
  width: 65vw;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}

  .code-editor .title {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
  }

    .code-editor .title h1 {
      color: ghostwhite;
      font-size: 3vw;
      font-style: oblique;
      margin-top: 0.3rem;
      margin-right: 0.5rem;
    }

    .code-editor .title h2 {
      color: ghostwhite;
      font-size: 3vw;
      font-style: oblique;
      margin-right: 3vw;
    }

  .code-editor .technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3.2vw;
    margin-left: 45vw;
  }

    .technologies h4 {
      font-weight: 300;
      font-size: 0.8rem;
      color: dimgrey;
    }

  .blinker {
    color: ghostwhite;
    font-style: normal;
  }

.box3 {
  top: 140rem;
  position: absolute;
}

/*Sliding boxes*/
.bg {
  animation: slide 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: -300px;
  left: -50%;
  opacity: .2;
  right: -50%;
  top: 0px;
  position: absolute;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3 {
  animation-duration: 12s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/*Mobile*/
@media (max-width: 640.98px) {
  h1 {
    font-size: 1.5rem;
  }

.intro-text {
  margin-top: 10rem;
  align-items: center;
}

  .intro-text h2 {
    margin-top: 2rem;
    font-size: 12px;
  }

.logos {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 0.4rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
}

  .logo h3 {
    font-size: 12px;
  }

  .projects-transition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36rem;

    padding-left: 0;
  }

    .projects-transition h2 {
      width: 80vw;
      text-align: center;
    }

.code-editor {
  align-items: center;
  margin-top: -13rem;
  width: 80vw;
  height: 600px;
}
  
  .code-editor .title {
    justify-content: center;
  }

  .code-editor .title h1 {
    font-size: 1.6rem;
  }

  .code-editor .title h2 {
    display: none;
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  .code-editor .technologies {
    width: 50%;
    margin-left: 30vw;
    margin: 0;
    width: 60%;
  }
  
    .code-editor .technologies h4 {
      font-size: 0.6rem;
    }
}

/*Tablet*/
@media (min-width: 641px) {
  .intro-text {
    align-items: center;
  }

  .intro-text h2 {
    padding-top: 6rem;
    font-size: 1.4rem;
  }

  .logos {
    width: 15rem;
  }

  .logo {
    flex-direction: column;
    width: 1.4rem;
  }

  .technologies h4 {
    font-weight: 300;
    font-size: 0.6rem;
    color: dimgrey;
  }
}

/*Computer*/
@media (min-width: 1200px) {
  .intro-text {
    width: 30rem;
    text-align: left;
    margin-left: 55vw;
    align-items: flex-start;
  }

  .intro-text h2 {
    font-size: 1rem;
  }

  .logos {
    width: 26rem;
  }

  .logo {
    flex-direction: row;
  }

  .logo h3 {
    padding-left: 1rem;
  }
}
