@page "/"

<PageTitle>Evan Kelly</PageTitle>

<main>
  <!--Sliding box background-->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="intro-text">
    <h1>Hi, I'm <span class="text-highlight">Evan</span>. I'm a software developer and I create responsive applications, like this website!</h1>
    <h2>Made With</h2>
    <div class="logos">
      <div class="logo logo1">
        <img src="/images/blazor.svg" />
        <h3>Blazor</h3>
      </div>
      <div class="logo logo2">
        <img src="/images/html5.svg" />
        <h3>HTML</h3>
      </div>
      <div class="logo logo3">
        <img src="/images/css3.svg" />
        <h3>CSS</h3>
      </div>
    </div>
    <div class="logos logos2">
      <div class="logo logo4">
        <img src="/images/webAssembly.svg" />
        <h3>WebAssembly</h3>
      </div>
      <div class="logo logo5">
        <img src="/images/c-sharp.png" />
        <h3>C#</h3>
      </div>
      <div class="logo logo6">
        <img src="/images/dotnet.png" />
        <h3>.Net6</h3>
      </div>
    </div>
  </div>

  <div class="transition-box projects-transition">
    <h1>My Projects</h1>
    <h2>Below are some example projects that demonstrate my abilities</h2>
  </div>

  <article class="box box2 code-editor">
    <div class="title">
      <h1>//Code Editor</h1>
      <h2><span class="blinker">|</span></h2>
    </div>
    <div class="technologies technologies1">
      <h4>WinForms</h4>
      <h4>.NET 4.8</h4>
      <h4>C#</h4>
    </div>
  </article>

  <div class="box box3 projects">
    <h1>Projects</h1>
  </div>
</main>