.page[b-y5pde0k6jk] {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
  height: 100vh;
}

main[b-y5pde0k6jk] {
    flex: 1;
}

.nav-bar[b-y5pde0k6jk] {
  background-color: rgba(5, 5, 5, 0.4);
}

.sidebar[b-y5pde0k6jk] {
  justify-content: space-evenly;
}


.site-brand[b-y5pde0k6jk] {
  font-family: 'Kaushan Script', cursive;
  margin: 0.5rem;
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 2rem;
  color: ghostwhite;
}


@media (max-width: 640.98px) {
  .site-brand[b-y5pde0k6jk] {
    display: none;
  }
}

@media (min-width: 641px) {
  .page[b-y5pde0k6jk] {
      flex-direction: column;
  }

  .nav-bar[b-y5pde0k6jk] {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

    .sidebar[b-y5pde0k6jk] {
        width: 100vw;
        height: auto;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 1400px) {
  .page[b-y5pde0k6jk] {
    flex-direction: column;
  }

  .sidebar[b-y5pde0k6jk] {
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
