div[b-u603n3jyus] {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler[b-u603n3jyus] {
  border-color: rgb(240,240,240);
}

.custom-toggler .navbar-toggler-icon[b-u603n3jyus] {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.top-row[b-u603n3jyus] {
  height: 4rem;
  background-color: rgba(15,15,15);
}

.navbar-brand[b-u603n3jyus] {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  flex-direction: row;
  color: ghostwhite;
}

.nav-item[b-u603n3jyus] {
  font-size: 1rem;
  padding: 4px;
  display: flex;
}

  .nav-item[b-u603n3jyus]  a {
    color: #b4b4b4;
    border-radius: 3px;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.05);
  }

    .nav-item[b-u603n3jyus]  a.active {
      color: rgb(15,15,15);
    }

    .nav-item[b-u603n3jyus]  a:hover {
      color: rgb(40,40,40);
    }

@media (min-width: 641px) {
  .top-row[b-u603n3jyus] {
    display: none;
  }

  .navbar-toggler[b-u603n3jyus] {
    display: none;
  }

  .nav-item[b-u603n3jyus]  a{
    background-color: rgba(15, 15, 15, 0);
  }

  .collapse[b-u603n3jyus] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
