@inherits LayoutComponentBase

<PageTitle>Evan</PageTitle>

<div class="page">
 <div class="nav-bar">
  <span class="site-brand"><a href="\">EK</a></span>
  <div class="navmenu">
   <NavMenu />
  </div>
 </div>

 <main>
  <article class="content min-vw-100">
   @Body
  </article>
 </main>
</div>