

.top-row {
  height: 4rem;
  background-color: rgba(15,15,15);
  z-index: 2;
  overflow: hidden;
}

div {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler {
  border-color: rgb(240,240,240);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  flex-direction: row;
  color: ghostwhite;
}

.d-flex {
  background-color: ghostwhite;
}

.nav-item {
  font-size: 1rem;
  padding: 4px;
  display: flex;
  background-color: ghostwhite;
}

  .nav-item ::deep a {
    color: #b4b4b4;
    border-radius: 3px;
    height: 3rem;
    display: flex;
    align-items: center;
  }

      .nav-item ::deep a.active {
        color: rgb(15,15,15);
      }

    .nav-item ::deep a:hover {
      color: rgb(40,40,40);
    }

@media (min-width: 641px) {
  .top-row {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}