@page "/"

<link href="Index.razor.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>

<div class="top-animated">
  <h1>"Hello, world!"</h1>

  <h1 class="text-cursor">|</h1>
</div>


<p>Welcome to your new app.</p>