.page[b-y5pde0k6jk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-y5pde0k6jk] {
    flex: 1;
}

.sidebar[b-y5pde0k6jk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-y5pde0k6jk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y5pde0k6jk]  a, .top-row .btn-link[b-y5pde0k6jk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-y5pde0k6jk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y5pde0k6jk] {
        display: none;
    }

    .top-row.auth[b-y5pde0k6jk] {
        justify-content: space-between;
    }

    .top-row a[b-y5pde0k6jk], .top-row .btn-link[b-y5pde0k6jk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y5pde0k6jk] {
        flex-direction: column;
    }

    .sidebar[b-y5pde0k6jk] {
        width: 100vw;
        height: 180px;
        position: sticky;
        top: 0;
    }

    .top-row[b-y5pde0k6jk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (min-width: 1400px) {
  .page[b-y5pde0k6jk] {
    flex-direction: row;
  }

  .sidebar[b-y5pde0k6jk] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-y5pde0k6jk] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-y5pde0k6jk], article[b-y5pde0k6jk] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
